#wappen {
  width: 350px;
  padding-top: 20px;
}
#familyobj {
  width: 80%;
  height: 3000px;
  padding-top: 20px;
}
@media (max-width: 670px) {
  #wappen {
    width: 200px;
  }
  #familyobj {
    width: 100%;
  }
  main {
    width: 100%;
  }
}
