:root {
	--background-color: rgba(241, 235, 209, 0.91);
	--navbarColorDark: #523a28;
	--navbarColorLight: #e4d4c8;
	--navbarColorTan: #d0b49f;
	--navbarColorBrown: #a47551;
	--navbarColorMint: #acbaad;
	--navbarColorRose: #c7a19b;
	--navbarColorMaroon: #857b79;
	--navbarColorMauve: #a47786;
	--navbarColorBlue: #9db6cc;
	--black: #010100;
	--white: #ffffff;
}
* {
	box-sizing: border-box;
	margin: 0px;
}

body {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--background-color);
}

header,
    /* .navbar, */
    article,
    .asideimg,
    footer {
	padding: 0.5rem;
}

main {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	height: fit-content;
}

article {
	flex: 1 0 15rem;
	background-color: var(--background-color);
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
}

.asideimg {
	flex: 0 0 300px;
	width: 300px;
}

a {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

/* --header */
header {
	height: 125px;
	background-image: url("./img/logo.png"), url("./img/oederlogo.png"),
		url("./img/headerbg.png") 10px 10;
	background-position: top left, top right, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 110px 120px, 70px 140px, cover;
	background-color: rgb(241, 235, 209);
}

header > div {
	text-align: center;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(241, 235, 209, 0.5);
	/* opacity: 0.5; */
}

#gco {
	font-size: 50px;
	font-weight: bold;
	/* opacity: 1; */
}

/* #asideright{
    position: sticky;
    align-self: flex-start;
    top: 50px;
    height: 80vh;
    float: calc();
    overflow: hidden;
} */

/* --navbar */
.navbar {
	background-color: var(--navbarColorDark);
	position: sticky;
	align-self: flex-start;
	top: 0;
	width: 100%;
}

.navbar {
	position: sticky;
	width: 100%;
	z-index: 8;
}

.navbar a,
.sidebar {
	float: left;
	font-size: 16px;
	color: var(--navbarColorLight);
	text-align: center;
	padding: 5px 5px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: var(--navbarColorLight);
	padding: 5px 5px;
	background-color: var(--navbarColorDark);
	font-family: inherit;
	margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
	background-color: var(--navbarColorRose);
	color: black;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--navbarColorTan);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 10;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: var(--navbarColorRose);
	color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
	z-index: 10;
}

.dropdown-content a {
	padding: 3px;
}

#navbarchapname {
	margin-left: auto;
	margin-right: auto;
	padding: 5px 5px;
	font-size: 16px;
	color: var(--navbarColorLight);
	text-align: center;
	float: right;
}

#navlist {
	width: 100%;
}

/* --ResponsiveMenu */
#responsivemenu,
#responsivecontent {
	width: 300px;
	height: 98dvh;
	background-color: var(--navbarColorTan);
	z-index: 100;
	right: 0px;
	position: fixed;
	top: 0px;
	opacity: 0.9;
	transition: 1s;
	display: none;
	flex-direction: column;
	padding-left: 5px;
	font-size: 14px;
}

.responsive a:hover {
	background-color: var(--navbarColorRose) !important;
	color: white !important;
}

.sidebar {
	padding: 0px 0px;
	float: left;
	display: none;
}

.sidebar img {
	width: 18px;
}

/* --Aside */
#asiderightimg {
	position: sticky;
	align-self: flex-start;
	top: 50px;
	height: 80vh;
	float: calc();
	overflow: hidden;
}

#asideleftimg {
	position: sticky;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	top: 50px;
	background-color: var(--background-color);
	height: 80vh;
	width: 350px;
	overflow: hidden;
}

#asideleftimg a:hover {
	background-color: var(--navbarColorRose) !important;
	color: white;
}
/* #asideleftimg a:first-child:hover {
	background-color: var(--background-color) !important;
	color: black;
} */

.asideleft {
	float: left;
	margin: 10px;
	cursor: pointer;
}
#frontpageimg,
#frontpageimg1,
#frontpageimg2 {
	width: 200px;
	/* position: relative; */
	border: 3px;
	border-color: var(--navbarColorDark);
	border-style: solid;
	border-radius: 25px;
	margin-bottom: 10px;
	margin-right: 10px;
	height: auto;
	z-index: 0;
	text-align: left;
	overflow: hidden;
	/* background-color: rgb(243, 238, 215); */
	background-color: #010100;
}
#frontpageimg:hover,
#frontpageimg1:hover,
#frontpageimg2:hover {
	border-color: var(--navbarColorBrown);
	border-radius: 0%;
	background-color: rgb(245, 244, 238);
	box-shadow: 10px 10px var(--navbarColorMint);
	transition: 0.5s;
}
#frontpage,
#frontpage1,
#frontpage2 {
	padding: 0px;
	width: 100%;
	cursor: pointer;
	display: block;
}
.asideleft img {
	width: 200px;
	overflow-x: hidden;
	height: auto;
	float: left;
}

.asideright {
	float: right;
	margin: 10px;
	cursor: pointer;
}

/* .asideright img {
	width: 150px;
	overflow-x: hidden;
	height: auto;
} */
#imgind {
	width: 300px;
}
/* --Language */
#langcontainer {
	padding: 5px 5px;
}

#langcontainer img {
	margin-left: 5px;
	width: 16px;
	cursor: pointer;
}

#langcontainer img:hover {
	background-color: var(--background-color);
}

/* --Footer */
footer {
	background-color: var(--navbarColorDark);
	color: var(--navbarColorLight);
}

footer a {
	color: var(--navbarColorLight);
	float: right;
}

footer > img {
	margin-left: 10px;
	float: right;
}
/* tabel */

tr:nth-child(even) {
	background-color: var(--navbarColorMint);
}
/* bio */
.asideleft,
.asideright {
	display: flex;
	flex-direction: column;
}
.asideleft  img,
object {
	width: 200px;
	font-style: italic;
}
.asideright:not(#imgind)  img,
object {
	width: 100% !important;
	font-style: italic;
}
/* #imgind{display: flex;
flex-direction: row;} */
.asideLinkimgHover{
		border: 3px;
	border-color: var(--navbarColorDark);
	border-style: solid;
	border-radius: 25px;

}
.asideLinkimgHover:hover{
		border-color: var(--navbarColorBrown);
		border-width: 3px;
	border-radius: 0%;
	background-color: rgb(245, 244, 238);
	box-shadow: 8px 8px var(--navbarColorMint);
	transition: 0.5s;

}
/* Hamburg tabel */
		.tab{
		max-width: 90%;
	}

@media (max-width: 1380px) {
	#asiderightimg {
		display: none;
	}
	#navbarchapname {
		display: none;
	}
	#frontpage {
		width: 150;
	}
		/* .tab{
		max-width: 500px;
	} */

}

@media (max-width: 950px) {
	#asideleftimg {
		display: none;
	}

	.navbarButtons {
		display: none;
	}

	.dropdown-content a {
		display: none;
	}

	.sidebar {
		display: flex;
	}
	#navbarchapname {
		display: flex;
	}

	article {
		padding-left: 30px !important;
		padding-right: 30px;
	}
	#frontpage {
		width: 100;
	}
}

@media (max-width: 750px) {
	#gco {
		font-size: 25px !important;
	}

	article {
		padding-left: 15px !important;
		padding-right: 15px;
	}

	header {
		height: 90px;
		background-size: 80px 90px, 70px 90px, cover !important;
		background-color: rgb(241, 235, 209);
	}
	.asideleft > img,
	object {
		width: 150px;
		font-style: italic;
	}
	.asideright:not(#imgind) > img,
	object {
		width: 150px;
		font-style: italic;
	}
	#imgind {
		width: 200px;
	}
#frontpageimg{
	width: 100px;
}
}
@media(max-width: 600px){
	#gco{
		font-size: 20px !important;
	}
		/* .tab{
		max-width: 90vw;
	} */

}
/* tooltips */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip .tooltiptxt {
	visibility: hidden;
	width: 350px;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 10%;
	opacity: 0;
	transition: opacity 0.8s;
	background-color: var(--navbarColorMint);
	padding: 8px;
}

.tooltip .tooltiptxt ::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	background-color: rgb(225, 211, 12);
}
.tooltip:hover .tooltiptxt {
	visibility: visible;
	opacity: 1;
}
abbr:hover::after {
    position: absolute;
    bottom: 100%;
    left: 100%;
    display: block;
    padding: 1em;
    background: yellow;
}
#latin{
	color: var(--navbarColorDark);
	font-style: italic;
}