body {
  width: 95vw;
  height: 95;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(241, 235, 209);
}
nav {
  font-size: 16px;
  width: 100%;
}

.list {
  list-style-type: none;
  background-color: rgba(0, 0, 139);
  padding: 0;
  margin: 0;
  /*     height: 36px;
 */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
.list a {
  color: black;
  text-decoration: none;
  padding: 10px 10px 5px 5px;
  display: block;
  text-align: left;
  justify-content: center;
}

.navbar a:hover {
  background-color: lightskyblue;
}
/* .navbar li{
    float: left;


}
 */

.drop1 li a:hover {
  background: lightskyblue;
  align-items: center;
  justify-content: center;
}
.drop1 li {
  background-color: darkblue;
  backdrop-filter: blur(10px);
  float: none;
  align-items: center;
  width: 100%;
}
.drop1 li a {
  columns: black;
}
.drop1 {
  list-style-type: none;
  display: none;
  position: absolute;
  background: darkblue;
  backdrop-filter: blur(10px);
  top: 165px;
  z-index: 1;
}

nav ul li:hover > .drop1 {
  display: inline-block;
  width: fit-content;
}

.list li a {
  color: rgb(241, 235, 209);
  backdrop-filter: blur(10px);
}

/* .list :last-child{
    float: right;
}
 */
#lang {
  float: right;
}
.drop1 a {
  background-color: darkblue;
  text-decoration: none;
  margin-left: auto;
  margin-right: 40px;
  color: black;
  float: left;
}
.list li:last-child {
  justify-content: end;
}
.menubut,
.contentbut {
  display: flex;
  display: none;
}
main {
  background-color: rgb(241, 235, 209);
  padding: 5px;
  flex: 5 5 200px;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 75vw;
  align-content: center;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(241, 235, 209, 0.91);
  box-shadow: -6px 0px 20px darkblue;
  backdrop-filter: blur(0px);
  color: black;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  margin: 2px;
}
#sidebarcontent {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 99;
  background-color: rgba(241, 235, 209, 0.91);
  box-shadow: -10px 0px 30px darkblue;
  backdrop-filter: blur(10px);
  color: black;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 2px;
  padding-left: 10px;
}
#dropm:hover,
#drop1m:hover,
#drop2m:hover {
  background-color: rgba(241, 235, 209, 0.91);
  cursor: none;
}
#closebut p {
  cursor: pointer;
}
#frameindex {
  width: 100%;
  height: 120px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-content: center;
  border: 0cm;
  position: static;
  top: 0;
  z-index: 10;
  background-color: white;
}

.main {
  display: flex;
  flex: 2;
  text-align: left;
  width: 90vw;
}
header {
  background-color: rgb(241, 235, 209);
  padding: 0px;
}
#content {
  background-color: rgb(241, 235, 209);
  padding: 5px;
  flex: 1 1 100px;
  display: flex;
  flex-direction: column;
  position: sticky;
  height: fit-content;
  width: fit-content;
  z-index: 0;
}

#content a:hover {
  background-color: lightskyblue;
}

.right {
  background-color: rgb(43, 255, 0);
  padding: 5px;
  flex: 0 0 100px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
footer {
  background-color: rgb(241, 235, 209);
  padding: 5px;
}
#indeximage {
  width: 400px;
}

#framefooter {
  width: 80%;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
  align-content: center;
  border: 0cm;
  position: sticky;
  top: 0;
  z-index: 0;

  background-color: rgb(241, 235, 209);
}
/* #imgind {
  width: 300px;
}
 */
#contbut {
  display: none;
  width: 50px;
}
a {
  color: black;
  text-decoration: none;
}

/* @media (min-width: 1000px) {
  .main {
    max-width: 75vw;
  }
  main {
    width: 100%;
  }
  #imgind {
    width: 300px;
  }
}

@media (max-width: 999px) {
  .main {
    max-width: 100vw;
  }
  main {
    width: 100%;
  }
  #imgind {
    width: 300px;
  }
  .drop1 {
    top: 32px;
    z-index: 10;
  }
}
 */
#chapname {
  display: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 50%;
  color: white;
}

@media (max-width: 800px) {
  #imgind {
    width: 200px;
  }
  .main {
    width: 100%;
  }
  /*   .navbar {
    position: sticky;
  }
 */
}
@media all and (max-width: 670px) {
  .menubut,
  .contentbut {
    display: flex;
  }
  .listelement {
    display: none;
  }
  nav ul:first-child {
    justify-content: end;
  }
  #content {
    display: none;
  }
  #imgind {
    width: 100px;
  }
  .main {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
  main h2 {
    font-size: 1.2rem;
  }
  main h3 {
    font-size: 1rem;
  }
  .asideleft img {
    width: 150px;
    overflow-x: hidden;
    height: auto;
  }
  .asideright img {
    width: 150px;
    overflow-x: hidden;
    height: auto;
  }
  object {
    width: 150px;
  }
  .navbar {
    top: 0;
    display: flex;
    flex-direction: column;
    /*     padding: 5px;
 */
    height: min-content;
    backdrop-filter: blur(0px);
    position: sticky;
  }
  #chapname {
    display: flex;
  }
}
@media (max-width: 500px) {
  #img1 {
    width: 100px;
  }
  main {
    max-width: 100vw;
  }
}
@media (min-width: 1000px) {
  main {
    max-width: 70%;
  }
}
