.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptxt {
  visibility: hidden;
  width: 350px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 10%;
  opacity: 0;
  transition: opacity 0.8s;
  background-color: rgb(239, 241, 218);
  padding: 8px;
}

.tooltip .tooltiptxt ::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: rgb(225, 211, 12);
}
.tooltip:hover .tooltiptxt {
  visibility: visible;
  opacity: 1;
}
